/* body */
.content-wrapper, .right-side {
	background-color: #ffffff;
}

.wrapper {
	background-color: #ffffff;
}

.main-header {
	position: fixed;
	width:100%;
}

.content {
	margin-top: 50px;
}

.main-sidebar {
	position: fixed;
}
 
* { font-family: Arial; }

/* app title */
.main-header .logo {
	font-family: Arial;
}

/* page title */
h2 {
	font-family: Arial;
	font-size: 24px;
}

.btn {
	margin-bottom: 20px;
}

#about_shortly {
	font-size: 15px;
}

#about_shortly a {
	color: #1976D2;
}

#about_bluewebs {
	font-size: 15px;
}

#about_shortly .box {
	background: #BBDEFB;
	padding: 10px;
}

#about_continued {
	font-size: 15px;
}

#about_continued .box {
	background: #BBDEFB;
	padding: 10px;
}

#about_bluewebs .box {
	background: #BBDEFB;
	padding: 10px;
}

#about_bluewebs a {
	color: #1976D2;
}

#modelText {
	font-size: 15px;
}

#modelText2 {
	font-size: 15px;
}

#modelText3 {
	font-size: 15px;
}

#modelText .box {
	background: #BBDEFB;
	padding: 10px;
}

#modelText2 .box {
	background: #BBDEFB;
	padding: 10px;
}

#foodwebText {
	font-size: 15px;
}

#foodwebText .box {
	background: #BBDEFB;
	padding: 10px;
}

#mapText {
	font-size: 15px;
}

#mapText .box {
	background: #BBDEFB;
	padding: 10px;
}

#acknowledgement {
	font-size: 15px;
}

#acknowledgement .box {
	background: #E3F2FD;
	padding: 10px;
}

#timeseries_info {
	font-size: 15px;
}

#timeseries_info2 {
	font-size: 15px;
}

#timeseries_box {
	background: #BBDEFB;
	padding: 10px;
}

#time_series_link {
	color: #1976D2;
}

#novel_info {
	font-size: 15px;
}

#novel_info .box {
	background: #BBDEFB;
	padding: 10px;
}

#aboutNovelty {
	font-size: 15px;
}

#aboutNovelty .box {
	background: #BBDEFB;
	padding: 10px;
}

#aboutNovelty2 {
	font-size: 15px;
}

#aboutNovelty2 .box {
	background: #BBDEFB;
	padding: 10px;
}

#aboutNovelty_fig {
	font-size: 15px;
}

#aboutNovelty_fig .box {
	background: #E3F2FD;
	padding: 10px;
}

#opt_info {
	font-size: 15px;
}

#opt_info .box {
	background: #BBDEFB;
	padding: 10px;
}

#opt_scens {
	font-size: 15px;
}

#opt_scens .box {
	background: #90CAF9;
	padding: 10px;
}

#scens_info {
	font-size: 15px;
}

.selectize-control {
	font-size: 12px;
}

/* tabBox */                    
.nav-tabs-custom>.nav-tabs {
	font-size: 16px;
	background-color: #222d32;
}

.nav-tabs-custom .nav-tabs li:not(.active) a {
	color: #ffffff;
	padding: 10px 10px;
}

.nav-tabs-custom .nav-tabs li.active {
	border-top-color: #000000;
}

/* popovers */
.popover-title {
	color: #ffffff;
	font-family: Arial;
	background-color: #222d32;
}

.popover-content { 
	font-family: Arial;
	color: #ffffff;
	background: #2c3b41;
	data-html: true;
}

.fa {
	color: #222d32;
}

.modal-content {
	font-size: 15px;
	background: #E3F2FD;
	border-color: #0277BD;
}

.btn {
	background: #BBDEFB;
	border-color: #0277BD;
}

.btn:hover {
	background: #BBDEFB;
	border-color: #0277BD;
}

.btn:focus {
	background: #BBDEFB;
	border-color: #0277BD;
}

.btn:active {
	background: #BBDEFB;
	border-color: #0277BD;
}
